@font-face {
  font-family: Gotham; /* Имя шрифта */////////
  src: url("fonts/Gotham-Light.ttf"); /* Путь к файлу со шрифтом */
 }
 @font-face{
   font-family: DIN Pro;
   src: url("fonts/DINPro-Light.ttf");
 }
 @font-face{
  font-family: PacificoRegular;
  src: url("fonts/Pacifico-Regular.ttf");
}
 @import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
 i {
  font-family: fontawesome !important;
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');